# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/cmake-build-debug/
/cmake-build-release/
/src/verify/results_c432/
/src/verify/results_c3540/
